<form [formGroup]="form" >

<div class="header" style="margin: 10px"> Nazwa ankiety
  <input formControlName="name" [(ngModel)]="name" placeholder="Nazwa ankiety" type="text" name="input"> Data zakonczenia
    <input formControlName="data_zamkniecia" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="data" ngbDatepicker #d="ngbDatepicker">
    <button style="margin: 10px" (click)="d.toggle()" type="button">Kalendarz</button>
</div>
<div class="pytania">
    <button style="margin: 10px" class="btn btn-primary" (click)='dodaj()'>
        Dodaj pytanie
      </button>
    <button class="btn btn-danger" (click)='usun()'>Usun Pytanie</button>
  <div style="margin: 10px; border: 2px dashed burlywood;padding: 5px " *ngFor="let i of pytania">

      <app-pytanie [numer]='i' ></app-pytanie>
  </div>


</div>

<ngb-alert *ngIf="(form.get('name').hasError('required') || form.get('data_zamkniecia').hasError('required'))" type="danger" [dismissible]="false">
    <strong>Podaj nazwe i date</strong>
    </ngb-alert>
<button type="submit" *ngIf="(form.get('name').hasError('required') === false)&& (form.get('data_zamkniecia').hasError('required')===false)" style="margin: 10px" class="btn btn-success" (click)="save()">Generuj</button>

</form>
