<p style="display: inline" class='heder'>
  Pytanie {{this.numer}}
  <!-- <app-odpowiedzi></app-odpowiedzi> -->
</p>
<div >
    Tresc
    <input [(ngModel)]="this.tresc" type="text" name="input" style="margin: 10px">
    Typ
    <select [(ngModel)]="this.kontrolka" style="margin: 10px" >
      <option>
        textbox
      </option>
      <option>
        dropdown
      </option>
      <option>
        radiobutton
      </option>
      <option>
        checkbox
      </option>
    </select>
    <label> Pytanie kontrolne </label>
    <input [(ngModel)]="kontrolne" type='checkbox' name="input" style="margin: 10px">
    <!-- <label *ngIf='this.numer > 1'> -->
      <button class="btn btn-primary" style="margin: 10px" (click)='dodaj_warunek()'>Dodaj warunek</button>
    <!-- </label> -->
    <button  class="btn btn-primary" style="margin: 10px" (click)='dodaj_odpowiedz()'>Dodaj odpowiedz</button>
</div>


<div style="margin: 10px" *ngFor='let w of warunki; let i = index'>
  Warunek  {{w}}
  <app-warunek [numerWarunku]=i></app-warunek>
  <button class="btn btn-danger" style="display: inline"  (click)='usun_warunek(i)'>Usun Warunek</button>
</div>

  <div style="margin: 10px" *ngFor='let o of odpowiedzi; let i = index'>
    Odpowiedz {{o}}
    <input style="margin: 10px" [(ngModel)]="this.tresciOdpowiedzi[i]" type="text" name="input" >
    <button style="margin: 10px" class="btn btn-danger" (click)='usun_odpowiedz(i)'>Usun Odpowiedz</button>
  </div>
