<h1 style='margin:10px'>
  Menu główne
</h1>
<nav style='margin:10px'>
  <!-- <button routerLink="/ankieta">Ankieta</button> -->
  <button class="btn btn-primary"  routerLink="/generator">Generator</button>
</nav>

<ul style='margin:10px' class="list-group">
    <li *ngFor='let k of listaAnkiet;let i = index' class="list-group-item" >
      <div style="display:inline"> {{this.listaAnkiet[i].nazwaAnkiety}}
          <button style='margin: 20px' class='btn btn-primary' [routerLink]="['/ankieta',this.listaAnkiet[i].id]">Ankieta</button>
          <button style='margin: 20px' class='btn btn-primary' [routerLink]="['/wyniki',this.listaAnkiet[i].id]">Szczegóły</button>
      </div>
    </li>
</ul>

