<div [formGroup]="form">
  <label [attr.for]="pytanie.nrPytania">{{pytanie.nrPytania}}. {{pytanie.trescPytania}}</label>

  <div [ngSwitch]="pytanie.reprezentacjaPytania">

    <input *ngSwitchCase="'textbox'" [id]="pytanie.nrPytania" [formControlName]="pytanie.nrPytania">

    <select *ngSwitchCase="'dropdown'" [id]="pytanie.nrPytania" [formControlName]="pytanie.nrPytania">
      <option *ngFor="let odp of pytanie.odpowiedzi" [value]="odp.nrOdpowiedzi">{{odp.odpowiedz}}</option>
    </select>

    <div *ngSwitchCase="'radiobutton'">
      <div *ngFor="let odp of pytanie.odpowiedzi">
        <input [formControlName]="pytanie.nrPytania" type=radio [value]="odp.nrOdpowiedzi">{{odp.odpowiedz}}<br>
      </div>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <div *ngFor="let odp of pytanie.odpowiedzi">
        <input [id]="'checkbox' + pytanie.nrPytania + '-' + odp.nrOdpowiedzi" [formControlName]="pytanie.nrPytania" type=checkbox [value]="odp.nrOdpowiedzi">{{odp.odpowiedz}}<br>
      </div>
    </div>

  </div>

  <ngb-alert *ngIf="!isValid && pytanie.pytanieKontrolne" type="warning">Pytanie "{{pytanie.trescPytania}}" jest pytaniem kontrolnym.</ngb-alert>
  <ngb-alert *ngIf="!isValid && !pytanie.pytanieKontrolne" type="warning">Nie możesz odpowiedzieć na to pytanie.</ngb-alert>

  <br/>
</div>
