<div *ngIf="ankieta" style="padding:10px">
  <h1>{{ankieta.nazwaAnkiety}}</h1>

  <p>Pseudonim:</p><input [(ngModel)]="pseudonim" type="text">

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let pytanie of ankieta.pytania" class="form-row">
      <div *ngIf="pytanie.pytanieKontrolne === true">
        <app-kontrolka [pytanie]="pytanie" [form]="form"></app-kontrolka>
      </div>
    </div>

    <div *ngIf="pytaniaKontrolne === true">
      <div *ngFor="let pytanie of ankieta.pytania" class="form-row">
        <div *ngIf="pytanie.pytanieKontrolne !== true">
          <app-kontrolka [pytanie]="pytanie" [form]="form"></app-kontrolka>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="pytaniaKontrolne === true">
      <div *ngFor="let pytanie of ankieta.pytania" class="form-row">
        <div *ngIf="pytanie.pytanieKontrolne !== true">
          <ng-container [ngTemplateOutlet]="pytanie.warunkiPytania !== [] ? kontrolka: kontrolka2"
          [ngTemplateOutletContext]="{pytanie:pytanie}">
            <ng-template #kontrolka let-pytanie='pytanie'>
              <div *ngFor="let warunek of pytanie.warunkiPytania">
                <div *ngFor="let pytanie1 of ankieta.pytania">
                  <ng-container [ngTemplateOutlet]="pytanie1.nrPytania === warunek.nrPytania && pytanie1.pytanieKontrolne === true ? kontrolka1: kontrolka2"
                    [ngTemplateOutletContext]="{pytanie:pytanie, warunek:warunek}">
                    <ng-template #kontrolka1 let-pytanie='pytanie' let-warunek='warunek'>
                      <div *ngIf="formValue[warunek.nrPytania] !== warunek.numerOdpowiedzi">
                        <app-kontrolka [pytanie]="pytanie" [form]="form"></app-kontrolka>
                      </div>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>

    <ng-template #kontrolka2 let-pytanie='pytanie'>
        <app-kontrolka [pytanie]="pytanie" [form]="form"></app-kontrolka>
    </ng-template> -->

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Zapisz</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Zapisano nastepujące wartości</strong><br>{{payLoad}}
  </div>
</div>
