<h1 style='margin:10px'>
  Wyniki ankiety
</h1>

<ul style='margin:10px' class="list-group">
    <li *ngFor='let w of wyniki; let i = index' class="list-group-item" >
      <div style="display:inline"> <strong>Pseudonim: {{w.pseudonim}}</strong>
          <br/>
          <li *ngFor='let o of w.odpowiedzi; let j = index' class="list-group-item" >
              Pytanie: {{o.nrOdpowiedzi}} Odpowiedz: {{o.odpowiedz}}
          </li>
      </div>
    </li>
</ul>

<button style='margin:10px' class='btn btn-primary' [routerLink]="['/']">Powrót</button>
