  Numer Pytania
  <input type='text' name='input' [(ngModel)]='numerPytania' style="margin: 10px">
  <label style="margin: 10px">Numer Odpowiedzi </label>
  <input type='text' name='input' [(ngModel)]='numerOpowiedzi' style="margin: 10px">
  <label style="margin: 10px">Spójnik</label>
  <select [(ngModel)]="spojnik" style="margin: 10px" >
    <option>
      &&
    </option>
    <option>
      ||
    </option>

  </select>

